.is-selected {
    width: 80% !important;
}

/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 2em;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */

.group:before,
.group:after {
    content:"";
    display:table;
}

.group:after {
    clear:both;
}

.group {
    zoom:1; 
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 0 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } 


/*  REMOVE MARGINS - FULL WIDTH */

@media only screen and (max-width: 768px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}



/*  grid six col */

.span_6_of_6 {
	width: 100%;
}

.span_5_of_6 {
  	width: 83.06%;
}

.span_4_of_6 {
  	width: 66.13%;
}

.span_3_of_6 {
  	width: 49.2%;
}

.span_2_of_6 {
  	width: 32.26%;
}

.span_1_of_6 {
  	width: 15.33%;
}


/*  FULL WIDTH - LESS THAN 768 PIXELS */

@media only screen and (max-width: 768px) {
	.span_6_of_6 {
		width: 100%; 
	}
	.span_5_of_6 {
		width: 100%; 
	}
	.span_4_of_6 {
		width: 100%; 
	}
	.span_3_of_6 {
		width: 100%; 
	}
	.span_2_of_6 {
		width: 100%; 
	}
	.span_1_of_6 {
		width: 100%; 
	}
}